.bestdealsboxwrapper {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	transition: 0.5s;
}

.best-deals_styling {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.m-auto {
	min-width: fit-content !important;
	margin: 0;
}

.owl-nav-container-promotion {
	display: flex;
	align-items: center;
	justify-content: center;
}
.owl-dot-container-promotion {
	width: fit-content !important;
}

.owl-navigation {
	margin: 29px auto 0 !important;
	display: grid !important;
	grid-template-columns: 1fr 3fr 1fr;
}

.more-button-wrapper {
	flex: unset !important;
	width: 100% !important;
	max-width: unset !important;
	padding: 0 !important;
	display: flex;
	justify-content: flex-end;
}

.best-deals__header {
	flex-direction: column;
	padding-top: 20px !important;
	padding-bottom: unset !important;
	align-items: center;
	z-index: 9;

	@media screen and (max-width: 1006px) {
		flex-direction: row;
		margin-bottom: 20px;
	}
}

.best-deals__dropdown-menu {
	z-index: 102 !important;
	top: 50px !important;
}

.best-deals__title-wrapper {
	display: flex;
	align-items: flex-end;

	@media screen and (max-width: 1006px) {
		justify-content: center;
	}

	@media screen and (max-width: 560px) {
		justify-content: flex-start;
		max-width: calc(100% - 210px);
		text-align: left;
	}
}

.best-deals__tabs-container {
	transform: translateY(5px);
	width: 100%;

	@media screen and (max-width: 1006px) {
		transform: unset;
		position: absolute;
		right: 0;
		top: 50px;
		display: flex;
		justify-content: flex-end;
	}
}

.best-deals__tabs-container_single {
	transform: translateY(0);
}

.best-deals__tab {
	flex: unset;
	max-width: 100%;
	width: 100%;
	padding: 0 !important;
	position: relative;

	&:last-of-type {
		transform: translateX(-5%);
		z-index: 2;
	}

	&:nth-of-type(3) {
		transform: translateX(-2.5%);
		z-index: 4;
	}

	&:nth-of-type(2) {
		z-index: 5;
	}

	&:first-of-type {
		z-index: 6;
	}

	@media screen and (max-width: 1006px) {
		border: none !important;
	}
}

.best-deals__tab_single {
	&:last-of-type {
		transform: translateX(0);
	}
}

.best-deals__tab_active {
	z-index: 10 !important;
}

.best-deals__tab-link {
	text-align: center;
	display: flex;
	border-top-left-radius: 50px !important;
	border-top-right-radius: 50px !important;
	background: #ebebeb;
	border-bottom: 3px solid #ebebeb !important;
	box-shadow: 8px -7px 14px -12px rgb(0 0 0 / 25%);
	justify-content: center;
	width: 105%;
	font-size: 20px;
	line-height: 24px;
	color: #000 !important;

	@media screen and (max-width: 1439px) {
		font-size: 18px;
	}

	@media screen and (max-width: 1006px) {
		border-radius: 30px !important;
		width: 35px !important;
		height: 35px !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
}

.best-deals__tab-link_single {
	width: 100%;
  }

.best-deals__tab-link_active {
	background: #fff;
	border-bottom: 3px solid #fff !important;
}

.best-deals__title {
	background: linear-gradient(180deg, #f89402 0%, #ffe531 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px !important;
	line-height: 36px !important;

	@media screen and (max-width: 560px) {
		font-size: 22px !important;
		line-height: 1.2 !important;
		text-align: left;
		margin-left: 5px;
	}
}

.image-plate {
	padding: 0 10px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 10px;
	left: -8px;
	width: auto;
	min-width: 123px;
	height: 27px;
	background: linear-gradient(90deg, #fbb200 0%, #ffcc00 100%);
	z-index: 2;

	&::before {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #947d30;
		left: 0;
		top: 26px;
		position: absolute;
		box-shadow: none;
		transform: rotate(225deg);

		@media screen and (max-width: 1439px) {
			top: 19px;
		}
		@media screen and (max-width: 1199px) {
			top: 26px;
		}
	}

	@media screen and (max-width: 1439px) {
		min-width: 80px;
		height: 20px;
	}

	@media screen and (max-width: 1199px) {
		min-width: 123px;
		height: 27px;
	}
}

.image-plate_big {
	height: 40px;

	&::before {
		top: 39px !important;
	}
}

.plate-text {
	margin: 0;
	width: 100%;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;

	@media screen and (max-width: 1439px) {
		font-size: 12px;
	}

	@media screen and (max-width: 1199px) {
		font-size: 15px;
	}

	@media screen and (max-width: 560px) {
		font-size: 12px;
	}
}

.bestdealsboxwrapper .bestdeals-body .item.exclusive:before {
	top: 62px !important;
}

.bestdealsboxwrapper .bestdeals-body .item.exclusive:after {
	top: 45px !important;
}

.old-price-container {
	margin-top: 10px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 110%;
		height: 2.5px;
		background: #e2320f;
		transform: rotate(-7.59deg);
		border-radius: 30px;
		z-index: 1;
		top: 6px;
		left: -5%;

		@media screen and(max-width:1006px) {
			left: 19%;
		}
	}
}

.old-price {
	font-weight: 500 !important;
	font-size: 15px !important;
	line-height: 18px !important;
	color: #000;
	position: relative;
	z-index: 2;

	@media screen and (max-width: 1006px) {
		transform: translateX(25%);
	}
}

.new-price-container {
	margin-top: 0;
	position: relative;
}

.new-price {
	font-weight: 700 !important;
	font-size: 30px !important;
	line-height: 36px !important;
	text-align: center;
	color: #000;

	@media screen and (max-width: 1439px) {
		font-size: 28px !important;
		line-height: 1 !important;
	}

	@media screen and(max-width:560px) {
		font-size: 22px !important;
	}
}
.card-button-link {
	background: #fbb200;
	border-radius: 7px;
	padding: 10px 10px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin: 10px auto 0 auto;
	width: calc(100% - 20px);
	transition: 0.3s;

	&:hover {
		background: #d18f00;
		transition: 0.3s;
		color: #fff;
	}
}

.flame_left {
	transform: translateX(4px);

	@media screen and (max-width: 560px) {
		transform: unset;
	}
}

.flame_right {
	transform: translateX(-4px);

	@media screen and (max-width: 560px) {
		transform: unset;
		display: none;
	}
}

.best-deals__card-wrapper {
	flex: 0 0 25% !important;
	max-width: 25% !important;
	padding: 0 10px;
}

.best-deals__card {
	height: auto !important;
	background-color: #fff !important;
	margin: 0;

	@media screen and (max-width: 1006px) {
		margin-bottom: 0 !important;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.best-deals__card-image-wrapper {
	opacity: 1 !important;
	margin: 0;
	position: relative !important;
	height: auto !important;
	overflow: visible !important;
}

.best-deals__card-image {
	top: unset !important;
	transform: unset !important;
	border-radius: 20px;
	min-height: 155px !important;
	max-height: 155px !important;
	-o-object-fit: cover;
	object-fit: cover;

	@media screen and (max-width: 1439px) {
		max-height: 110px !important;
	}

	@media screen and (max-width: 1199px) {
		max-height: 155px !important;
	}

	@media screen and (max-width: 1006px) {
		min-height: 100% !important;
	}
}
.best-deals__card-content {
	padding: 0 !important;
	height: auto !important;
	position: relative !important;
}

.best-deals__card-text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: unset !important;
	padding-top: 10px !important;
}

.best-deals__card-title {
	color: #000 !important;
	text-shadow: unset !important;
	font-size: 12px !important;
	line-height: 14px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	margin-top: 10px !important;
	font-weight: 500 !important;
	max-width: 90% !important;
	min-height: 30px !important;
}

.best-deals__card-tourists {
	margin-top: 10px !important;
	font-size: 10px !important;
	color: #000 !important;
	text-shadow: unset !important;
	line-height: 11px !important;
}

.best-deals__card-flights {
	color: #000 !important;
	text-shadow: unset !important;
	margin-top: 1px;
	font-size: 10px !important;
	font-weight: 700;
	text-align: center;
}

.best-deals__card-flights-price {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.best-deals__scene_custom {
	background: #fff;
	padding: 11px 16px 11px 16px;
	margin: 5px 0 0 0;
	height: auto;
	max-height: 411px;
	overflow: hidden;

	@media screen and (max-width: 1439px) {
		max-height: 336px;
		padding: 10px 10px 5px 10px;
	}

	@media screen and (max-width: 1199px) {
		padding: 11px 16px 11px 16px;
		max-height: 411px;
	}

	@media screen and (max-width: 1006px) {
		flex: unset !important;
		max-width: 100% !important;
	}
}
