html {
	background: #f1f7fc;
}

@import "../../../components/desktop-mobile/desktop.scss";
@import "../../../components/desktop-mobile/mobile.scss";

.not-found {
	border-radius: 20px;
	background: #fff;
	display: flex;
	padding: 0 !important;

	@media screen and (max-width: 1006px) {
		flex-direction: column;
	}
}

.not-found__content {
	padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	@media screen and (max-width: 1006px) {
		order: 2;
		row-gap: 20px;
	}

	@media screen and (max-width: 768px) {
		row-gap: 10px;
		align-items: center;
		padding: 20px;
	}
}

.not-found__available {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: #000;

	@media screen and (max-width: 1006px) {
		font-size: 24px;
		row-gap: 15px;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		font-size: 12px;
		row-gap: 5px;
	}
}

.not-found__title {
	margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	max-width: 460px;
	color: #000;

	@media screen and (max-width: 1006px) {
		max-width: 100%;
		font-size: 45px;
	}

	@media screen and (max-width: 768px) {
		display: block !important;
		width: 80%;
		align-self: flex-start;
		font-size: 22px;
	}
}

.not-found__img {
	object-fit: cover;
	max-width: 50%;
	border-radius: 20px;

	@media screen and (max-width: 1006px) {
		max-width: 100%;
		order: 1;
	}
}

.not-found__row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		max-width: 60%;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		span {
			font-weight: 600;
			font-size: 11px;
			text-align: right;
			color: #777777;

			@media screen and (max-width: 768px) {
				font-size: 8px;
				max-width: 100%;
			}
		}
	}

	img {
		@media screen and (max-width: 1006px) {
			height: 39px;
		}

		@media screen and (max-width: 768px) {
			height: 30px;
		}
	}

	a {
		font-size: 24px;
		font-weight: 700;
		text-decoration: none;
		color: #283067;

		@media screen and (max-width: 768px) {
			font-size: 12px;
		}

		&.tg {
			background: url("https://cdn.sunmar.ru/content/insider/russia/404/telegram.png") no-repeat;
			background-size: contain;
		}
		&.wa {
			background: url("https://cdn.sunmar.ru/content/insider/russia/404/whatsapp.png") no-repeat;
			background-size: contain;
		}
		&.vk {
			background: url("https://cdn.sunmar.ru/content/insider/russia/404/vk.png") no-repeat;
			background-size: contain;
		}
		&.msg {
			background: url("https://cdn.sunmar.ru/content/insider/russia/404/line.png") no-repeat;
			background-size: contain;
		}
	}
}

.not-found__mini-card {
	background: #67c892;
	border-radius: 8px;
	color: #fff;
	padding: 8px 11px;

	@media screen and (max-width: 1006px) {
		padding: 4px 6px;
		border-radius: 4px;
	}
}

.not-found__social {
	flex-direction: row !important;
	column-gap: 16px;

	a {
		width: 40px;
		height: 40px;
		background-size: contain;
		transition: 0.3s;

		@media screen and (max-width: 1006px) {
			width: 54px;
			height: 54px;
		}

		@media screen and (max-width: 768px) {
			width: 27px;
			height: 27px;
		}

		&:hover {
			transition: 0.3s;
			opacity: 0.7;
		}
	}

	@media screen and (max-width: 768px) {
		column-gap: 8px;
	}
}

.not-found__button {
	background: #d8242a;
	padding: 12px 32px;
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: fit-content;
	border-radius: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	transition: 0.3s;

	&:hover {
		color: #fff;
		transition: 0.3s;
		opacity: 0.7;
	}

	@media screen and (max-width: 1006px) {
		font-size: 24px;
		padding: 15px 32px;
	}

	@media screen and (max-width: 768px) {
		font-size: 12px;
		padding: 7px 16px;
	}
}
