.calendar__title {
  margin-top: 16px !important;
  margin-bottom: 22px !important;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
}

.pricecalendarwrapper {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}
.pricecalendarwrapper .container {
  overflow: visible !important;
}

.calendar__styling {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.roompanel {
  border-top: 4px solid #e8e9ec !important;
  position: relative !important;
  transition: 0.3s;
}
.roompanel::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 12.5px 0 12.5px;
  border-color: #e8e9ec transparent transparent transparent;
  top: 0;
  z-index: 3;
  left: calc(50% - 12.5px);
  position: absolute;
}

.datescontainer {
  flex-grow: unset !important;
  overflow: hidden !important;
  width: calc(100% - 114px);
  margin: 0 auto;
}
@media screen and (max-width: 1006px) {
  .datescontainer {
    width: calc(100% - 60px) !important;
    overflow-x: scroll !important;
    margin: 0 0 0 auto;
    padding-bottom: 5px;
  }
}

.calendar-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-loader__img-wrapper {
  position: relative;
}

.calendar-loader__loader {
  max-width: 23px;
  -webkit-animation: rotation infinite;
          animation: rotation infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}
.calendar-loader__logo {
  width: 17px;
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% - 8.5px);
}

.calendar-loader__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
  margin-left: 5px;
}

.datesinner {
  flex-grow: unset !important;
  padding: 0 !important;
  margin: 0;
  transition: 0.5s;
}

@-webkit-keyframes growing {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes growing {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.day__background {
  transform: translateY(100%);
  background: #ebebeb !important;
  width: 20px !important;
  margin: 0 auto;
  transition: 0.3s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-animation: growing;
          animation: growing;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.day__background:hover {
  transition: 0.3s;
  background: #cbcbcb !important;
}

.day__background_first {
  background: #fbb200 !important;
}

.day__background_max {
  border-top: 3px solid #e2320f;
}

.day__background_min {
  border-top: 3px solid #a7ad00;
}

.day__link {
  width: inherit;
  display: inherit;
  height: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.day__wrapper {
  width: 28px !important;
  background: #ffffff !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  flex-grow: unset !important;
  border-bottom: 1px solid #ebebeb;
}

.day {
  top: unset !important;
  width: 28px !important;
  flex-grow: unset !important;
  align-items: center !important;
  padding-bottom: 15px;
}
.day::after {
  content: unset !important;
}

.day__title {
  width: auto !important;
  height: auto !important;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 1;
  text-align: center;
  color: #4a4a4a;
  padding: 2px 0 2px 0;
}
.day__title::before {
  content: unset !important;
}

.day__week-day {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: #9b9b9b;
  margin-top: -2px;
}

.month-separator {
  width: 0 !important;
  margin: 0 !important;
  min-width: 0 !important;
}

.month-separator__title {
  bottom: 3px;
  top: unset !important;
  z-index: 2;
  left: 10px !important;
  font-weight: 700;
  font-size: 10px !important;
  line-height: 1;
  text-align: right;
  color: #4a4a4a;
}

.day__week-day_weekend {
  color: #e2320f !important;
}

.day__border {
  width: 100%;
  height: 30px;
  position: absolute;
  border-bottom: 1px solid #ebebeb;
  bottom: 0px;
  left: 0;
}

.day__border-first {
  border-left: 1px solid #ebebeb;
  margin-left: 2px;
}

.day__border-last {
  border-right: 1px solid #ebebeb;
  margin-right: 2px;
}

.calendar-price {
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 20%;
  -webkit-animation: growing;
          animation: growing;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  z-index: 3;
  pointer-events: none;
}
@media screen and (max-width: 1006px) {
  .calendar-price {
    margin-bottom: 5px;
  }
}

.calendar-price__min {
  width: 100%;
  height: 0;
  border-top: 1px dashed #a7ad00;
  position: absolute;
  z-index: 3;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-align: left;
  color: #a7ad00;
  padding: 0 0 5px 5px;
}

.calendar-price__average {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ebebeb;
  position: absolute;
  z-index: 3;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-align: left;
  color: #9b9b9b;
  padding: 0 0 10px 5px;
}

.calendar-price__max {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #e2320f;
  position: absolute;
  z-index: 3;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-align: left;
  color: #e2320f;
  padding: 0 0 10px 5px;
}

.arrow {
  align-self: flex-end;
  cursor: pointer;
}

.arrow_disabled {
  cursor: auto;
  opacity: 0;
}

.arrow__left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 22px 20px 0;
  border-color: transparent #e8e9ec transparent transparent;
  margin-right: 27px;
  transition: 0.3s;
}
.arrow__left:hover {
  transition: 0.3s;
  border-color: transparent #cbcbcb transparent transparent;
}

.arrow__right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 22px;
  border-color: transparent transparent transparent #e8e9ec;
  margin-left: 27px;
  transition: 0.3s;
}
.arrow__right:hover {
  transition: 0.3s;
  border-color: transparent transparent transparent #cbcbcb;
}

.calendar-button_hidden {
  display: none !important;
}

.calendar-button_visible {
  display: flex !important;
  align-self: flex-end;
  margin-top: 3px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4a4a4a;
  background: none;
  border: none;
  padding: 0;
}

.calendar-ico {
  max-width: 22px;
}

.calendar-buttons {
  flex-direction: column !important;
  align-items: flex-end !important;
  margin-top: 5px;
}